<div class="border-b shadow-md bg-white mb-3">
    <div class="w-full px-6 md:px-10 py-4 flex items-center justify-between">
        <!-- Logo veya İsim -->
        <h1 class="text-xl sm:text-2xl font-bold text-gray-800 tracking-wide">Mustafa Hilmi Oruç</h1>

        <!-- Arama Kutusu -->
        <div class="border relative w-full sm:w-2/3 md:w-1/3 flex items-center rounded-full pl-2 overflow-hidden justify-between bg-gray-100">
            <input class="focus:outline-none bg-transparent flex-1 py-2 px-2 text-gray-700" type="text" placeholder="Haber ara...">
            <button class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-full transition duration-300">Ara</button>
        </div>
    </div>

    <!-- Navigasyon Menü -->
    <ul class="rounded-b px-6 md:px-10 w-full bg-red-500 text-white font-semibold text-lg flex flex-col md:flex-row justify-center md:space-x-8 py-3 shadow-md items-center space-y-2 md:space-y-0">
        <li><a routerLink="/homenews" class="hover:underline">Home</a></li>
        
        <!-- Kategorileri Dinamik Olarak Listele -->
        <li *ngFor="let category of categories">
            <a [routerLink]="'/category/' + category.toLowerCase()" class="hover:underline">{{ category }}</a>
        </li>
    
        <li><a routerLink="/about" class="hover:underline">About</a></li>
    </ul>
    
</div>
