<div class="container mx-auto  ">
    <h1 class="text-3xl font-bold my-6 text-center text-gray-800">{{ categoryName | uppercase }} Haberleri</h1>
    <p class="text-lg font-semibold mb-4 text-gray-700">
        Toplam <span class="text-blue-600">{{categoryNews.length}}</span> haber bulundu. 
        <span class="text-blue-600">{{ pagedNews.length}}</span> haber gösteriliyor.
      </p>
    <!-- Filtreleme Paneli -->
    <div class="flex">
      <div class="min-w-48 mr-2 border p-4 h-max rounded shadow-lg bg-white">
        <h3 class="text-xl font-semibold mb-4">Filtreleme İşlemleri</h3>
  
        <!-- Kategori Filtreleme -->
        <div class="mb-4">
          <label for="categoryFilter" class="block text-gray-700 font-medium mb-2">Kategori Seçin</label>
          <div class="max-h-36 overflow-y-scroll flex flex-col">
            <label>
              <input type="checkbox" name="category" value="technology"> Teknoloji
            </label>
            <label>
              <input type="checkbox" name="category" value="health"> Sağlık
            </label>
            <label>
              <input type="checkbox" name="category" value="science"> Bilim
            </label>
            <label>
              <input type="checkbox" name="category" value="general"> Genel
            </label>
            <label>
              <input type="checkbox" name="category" value="entertainment"> Eğlence
            </label>
            <label>
              <input type="checkbox" name="category" value="business"> İş Dünyası
            </label>
            <label>
              <input type="checkbox" name="category" value="sports"> Spor
            </label>
          </div>
  
          <!-- Yıl Seçimi -->
          <label for="yearFilter" class="block text-gray-700 font-medium mb-2 mt-4">Yıl Seçin</label>
          <div class="max-h-36 overflow-y-scroll flex flex-col">
            <label>
              <input type="checkbox" name="year" value="2024"> 2024
            </label>
            <label>
              <input type="checkbox" name="year" value="2025"> 2025
            </label>
            <label>
              <input type="checkbox" name="year" value="2023"> 2023
            </label>
          </div>
  
          <!-- Yayıncı Seçimi -->
          <label for="publisherFilter" class="block text-gray-700 font-medium mb-2 mt-4">Yayıncı Seçin</label>
          <div class="max-h-24 overflow-y-scroll flex flex-col">
            <label>
              <input type="checkbox" name="publisher" value="BBC"> BBC
            </label>
            <label>
              <input type="checkbox" name="publisher" value="CNN"> CNN
            </label>
            <label>
              <input type="checkbox" name="publisher" value="Reuters"> Reuters
            </label>
            <label>
              <input type="checkbox" name="publisher" value="Al Jazeera"> Al Jazeera
            </label>
            <label>
              <input type="checkbox" name="publisher" value="New York Times"> New York Times
            </label>
            <label>
              <input type="checkbox" name="publisher" value="The Guardian"> The Guardian
            </label>
          </div>
        </div>
      </div>
  
      <!-- Haberler Listesi -->
      <div class="flex-1 ">
        <div *ngIf="categoryNews.length > 0; else noNews">
          <div class="grid pb-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div *ngFor="let news of pagedNews" class="border rounded shadow-lg overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-2xl group bg-white">
              <a (click)="goToDetail(news)" class="cursor-pointer block">
                <div class="relative">
                  <img [src]="news.image" class="w-full h-56 object-cover transition-all duration-300 group-hover:blur-sm" alt="{{ news.title }}">
                  <div class="absolute top-2 left-2 px-3 py-1 bg-gray-900 text-white text-sm font-semibold rounded">
                    {{ categoryName | uppercase }}
                  </div>
                  <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white opacity-0 group-hover:opacity-100 transition-all duration-300 p-4 text-center">
                    <p>{{ news.description }}</p>
                  </div>
                </div>
  
                <div class="p-4">
                  <h2 class="text-lg font-bold text-gray-800 group-hover:text-blue-500 transition duration-300">
                    {{ news.title }}
                  </h2>
                  <p class="text-gray-600 text-sm mt-2">{{ news.subtitle }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center items-center gap-2 flex-wrap mt-6 pb-8">
        <button *ngIf="currentPage > 1" (click)="goToPage(1)" class="px-4 py-2 bg-blue-500 text-white font-medium rounded hover:bg-blue-600 transition">
          İlk
        </button>
        <button *ngIf="currentPage > 1" (click)="goToPage(currentPage - 1)" class="px-4 py-2 bg-blue-500 text-white font-medium rounded hover:bg-blue-600 transition">
          ‹ Önceki
        </button>
      
        <button *ngFor="let page of pages" (click)="goToPage(page)" 
          [ngClass]="{'bg-red-500 text-white': currentPage === page, 'bg-gray-200': currentPage !== page}" 
          class="px-4 py-2 font-medium rounded hover:bg-gray-300 transition">
          {{ page }}
        </button>
        <button *ngIf="currentPage < totalPages" (click)="goToPage(currentPage + 1)" class="px-4 py-2 bg-blue-500 text-white font-medium rounded hover:bg-blue-600 transition">
          Sonraki ›
        </button>
        <button *ngIf="currentPage < totalPages" (click)="goToPage(totalPages)" class="px-4 py-2 bg-blue-500 text-white font-medium rounded hover:bg-blue-600 transition">
          Son
        </button>
      
      </div>
  
    <!-- Eğer haber yoksa mesajı -->
    <ng-template #noNews>
      <p class="text-center text-gray-500 text-lg">Bu kategoride haber bulunamadı.</p>
    </ng-template>
  </div>
  